@import url(https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  max-width: 1440px;
  background: url(./../img/background.png) no-repeat;
  background-position-x: 50%;
  background-size: cover;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
}
.header-container .logo > img {
  width: 24px;
  height: 16px;
}
.header-container .btn {
  min-width: 144px;
  height: 32px;
  color: #fff;
  text-decoration: none;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28.8px;
  background-color: #843fd0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-shadow: 5px 26px 15px rgba(0, 0, 0, 0.14);
}

.intro-titles {
  max-width: 89%;
  margin: 0 auto;
}
.intro-titles .intro__title {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  padding: 92px 0 32px;
}
.intro-titles .intro__title span {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}
.intro-titles .intro__subtitle {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.hero-container img {
  min-width: 320px;
}

@media (min-width: 320px) and (max-width: 1279.98px) {
  .header-container {
    max-width: 90%;
    margin: 0 auto;
    min-height: 40px;
  }
  .nav-menu {
    display: none;
  }
}
@media (min-width: 1280px) {
  .header {
    min-height: 721px;
  }
  .header-container {
    max-width: 78%;
    margin: 0 auto;
  }
  .header-container .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 513px;
  }
  .header-container .header-nav .nav-menu {
    min-width: 321px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-container .header-nav a {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
  .intro-container {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .intro-container .intro-titles {
    max-width: 324px;
    margin: 0;
  }
  .intro-container .intro-titles .intro__title {
    padding-top: 191px;
  }
  .intro-container .intro-titles .intro__subtitle {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}
.features-wrapper {
  padding-top: 60px;
  max-width: 83%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.features-wrapper .features-container {
  min-width: 262px;
  min-height: 236px;
  margin: 0 auto;
  margin-top: 18px;
  border-radius: 24px;
  padding: 20px 30px 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 6px 68px 111px rgba(42, 30, 73, 0.2);
}
.features-wrapper .features-container .features__title {
  padding: 24px 0;
}
.features-wrapper .features-container .learn-more {
  display: none;
}
.features-wrapper .features-container img {
  width: 32px;
  height: 32px;
  margin-top: 20px;
}
.features-wrapper .features-container h3 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 31.5px;
  color: #3D2E87;
}
.features-wrapper .features-container p {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #3D2E87;
}
.features-wrapper .features-container:hover .features__title {
  color: #843FD0;
}
.features-wrapper .features-container:hover {
  transform: scale(1.1);
  transition: width 1s, height 1s, transform 1s;
}
.features-wrapper .features-container:hover .learn-more {
  max-width: 117px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}
.features-wrapper .features-container:hover .learn-more p {
  color: #3D2E87;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28.8px;
}
.features-wrapper .features-container:hover .learn-more img {
  width: 22px;
  height: 22px;
}

@media (min-width: 1280px) {
  .features-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1003px;
    margin: 0 auto;
    margin-top: 65px;
  }
  .features-wrapper .features-container {
    max-width: 262px;
  }
  .features-wrapper .features-container .features__title {
    padding: 24px 0;
  }
  .features-wrapper .features-container p {
    max-width: 87%;
  }
  .features-wrapper .features-container .learn-more > img {
    margin: 0;
  }
  .features-wrapper > div:nth-of-type(2) {
    order: 3;
  }
}
.trendy-container {
  margin-top: 110px;
}
.trendy-container .trendy-img {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 28px;
}
.trendy-container .trendy-img img {
  min-width: 370px;
}
.trendy-container .trendy-container-block {
  max-width: 90%;
  min-height: 233px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #3D2E87;
}
.trendy-container .trendy-container__text h2 {
  max-width: 65%;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.trendy-container .trendy-container__text p {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
}
.trendy-container .learn-more {
  max-width: 117px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trendy-container .learn-more p {
  color: #3D2E87;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28.8px;
}
.trendy-container .learn-more img {
  width: 22px;
  height: 22px;
}

@media (min-width: 1280px) and (max-width: 1439.98px) {
  .trendy {
    display: flex;
    justify-content: end;
  }
  .trendy .trendy-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 85%;
    margin-top: 190px;
  }
  .trendy .trendy-container .trendy-container-block {
    margin: 0;
  }
  .trendy .trendy-container .trendy-container__text {
    max-width: 367px;
  }
  .trendy .trendy-container .trendy-img img {
    max-width: 691px;
  }
  .trendy .trendy-container > div:nth-of-type(1) {
    order: 2;
  }
}
@media (min-width: 1440px) {
  .trendy {
    display: flex;
    justify-content: end;
  }
  .trendy .trendy-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 91%;
    margin-top: 223px;
  }
  .trendy .trendy-container .trendy-container-block {
    margin: 0;
  }
  .trendy .trendy-container .trendy-container__text {
    max-width: 367px;
  }
  .trendy .trendy-container .trendy-img img {
    max-width: 691px;
  }
  .trendy .trendy-container > div:nth-of-type(1) {
    order: 2;
  }
}
.safety {
  max-width: 100%;
  margin-top: 110px;
}
.safety .safety-container {
  max-width: 89%;
  margin: 0 auto;
}
.safety .safety-container .safety-container__text {
  padding-top: 30px;
}
.safety .safety-container .safety-container__text h2 {
  max-width: 44%;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40.8px;
  color: #3D2E87;
  padding-bottom: 30px;
}
.safety .safety-container .safety-container__text .main__text {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #3D2E87;
}
.safety .safety-container .safety-img {
  min-width: 224px;
  min-height: 438px;
  display: flex;
  justify-content: center;
}
.safety .safety-container .btn {
  min-width: 144px;
  height: 32px;
  color: #fff;
  text-decoration: none;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28.8px;
  background-color: #843fd0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-shadow: 5px 26px 15px rgba(0, 0, 0, 0.14);
  max-width: 186px;
  height: 40px;
  margin-top: 40px;
  background-color: #3D2E87;
}
.safety .safety-container .btn img {
  width: 22px;
  height: 22px;
  margin-left: 8px;
}

@media (min-width: 1280px) {
  .safety {
    margin-top: 160px;
  }
  .safety .safety-container {
    max-width: 844px;
    max-height: 535px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .safety .safety-container .safety-container__text {
    max-width: 367px;
  }
  .safety .safety-container .safety-img img {
    min-width: 265px;
    min-height: 535px;
  }
}
.reviews-wrapper {
  max-width: 100%;
  min-height: 471px;
  margin: 120px auto;
}
.reviews-wrapper .reviews-container .reviews-heading {
  max-width: 89%;
  margin: 0 auto;
  min-height: 66px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.reviews-wrapper .reviews-container .reviews-arrows {
  max-width: 92px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.reviews-wrapper .reviews-container .reviews-arrows img {
  max-width: 24px;
  max-height: 32px;
}
.reviews-wrapper .reviews-container .reviews-arrows img:last-of-type {
  transform: rotateY(180deg);
}
.reviews-wrapper .reviews-container .title {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40.8px;
  color: #843FD0;
}
.reviews-wrapper .reviews-container img {
  width: 24px;
  height: 32px;
}
.reviews-wrapper .reviews-container .reviews-background {
  max-width: 100%;
  min-height: 163px;
  margin-top: 38px;
  border-radius: 18px;
  background: linear-gradient(rgb(66, 46, 140), rgb(129, 42, 210));
}
.reviews-wrapper .reviews-container .reviews-block,
.reviews-wrapper .reviews-container .active {
  position: relative;
}
.reviews-wrapper .reviews-container .reviews-block .reviews-info,
.reviews-wrapper .reviews-container .active .reviews-info {
  max-width: 89%;
  margin: 0 auto;
  position: absolute;
  background-color: #fff;
  border-radius: 19px;
  box-shadow: 0px 4px 43.6px rgba(0, 0, 0, 0.25);
  top: -100px;
  left: 20px;
}
.reviews-wrapper .reviews-container .reviews-block .reviews-info .reviews-photo,
.reviews-wrapper .reviews-container .active .reviews-info .reviews-photo {
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  left: 24px;
}
.reviews-wrapper .reviews-container .reviews-block .reviews-info .reviews-comment,
.reviews-wrapper .reviews-container .active .reviews-info .reviews-comment {
  max-width: 87.5%;
  margin: 0 auto;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25.2px;
  color: #3D2E87;
  padding-bottom: 58px;
}
.reviews-wrapper .reviews-container .reviews-block .reviews-info .reviews-title,
.reviews-wrapper .reviews-container .active .reviews-info .reviews-title {
  display: flex;
  justify-content: space-between;
  max-width: 87%;
  margin: 0 auto 20px;
  padding-top: 46px;
}
.reviews-wrapper .reviews-container .reviews-block .reviews-info .reviews-title .reviews-name h3,
.reviews-wrapper .reviews-container .active .reviews-info .reviews-title .reviews-name h3 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #3D2E87;
}
.reviews-wrapper .reviews-container .reviews-block .reviews-info .reviews-title .reviews-name p,
.reviews-wrapper .reviews-container .active .reviews-info .reviews-title .reviews-name p {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #3D2E87;
}
.reviews-wrapper .reviews-container .reviews-block .reviews-info .reviews-title .reviews-rate,
.reviews-wrapper .reviews-container .active .reviews-info .reviews-title .reviews-rate {
  min-width: 107px;
  display: flex;
  justify-content: space-between;
}
.reviews-wrapper .reviews-container .reviews-block .reviews-info .reviews-title .reviews-rate img,
.reviews-wrapper .reviews-container .active .reviews-info .reviews-title .reviews-rate img {
  width: 15px;
  height: 14.25px;
}

@media (min-width: 320px) {
  .reviews-block:not(.active) {
    display: none;
  }
}
@media (min-width: 1280px) {
  .reviews-wrapper {
    min-height: 587px;
    margin: 130px auto;
  }
  .reviews-wrapper .reviews-container .reviews-heading {
    max-width: 1124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    flex-direction: row;
  }
  .reviews-wrapper .reviews-container .reviews-heading .title {
    max-width: 318px;
  }
  .reviews-wrapper .reviews-container .reviews-heading .reviews-arrows {
    margin: 0;
    min-width: 122px;
  }
  .reviews-wrapper .reviews-container .reviews-background {
    max-width: 90%;
    min-height: 274px;
    margin: 113px auto 0;
  }
  .reviews-wrapper .reviews-container .reviews-blocks {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
  }
  .reviews-wrapper .reviews-container .reviews-blocks .reviews-block {
    position: relative;
    display: block;
  }
  .reviews-wrapper .reviews-container .reviews-blocks .reviews-block .reviews-info {
    min-width: 422px;
    top: -150px;
    left: 0px;
  }
  .reviews-wrapper .reviews-container .reviews-blocks .reviews-block .reviews-info .reviews-comment {
    max-width: 83%;
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28.8px;
  }
  .reviews-wrapper .reviews-container .reviews-blocks .reviews-block .reviews-info .reviews-title {
    max-width: 83%;
  }
  .reviews-wrapper .reviews-container .reviews-blocks .reviews-block .reviews-info .reviews-title .reviews-name h3 {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 31.5px;
  }
  .reviews-wrapper .reviews-container .reviews-blocks .reviews-block .reviews-info .reviews-title .reviews-name p {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
}
.pricing {
  max-width: 89%;
  margin: 120px auto 0;
}
.pricing .pricing-header {
  margin-bottom: 48px;
}
.pricing .pricing-header .title {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40.8px;
  color: #843FD0;
  padding-bottom: 22px;
}
.pricing .pricing-header .main__text {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #3D2E87;
}
.pricing .pricing-block-content {
  max-width: 73%;
  margin: 0 auto;
  padding-bottom: 46px;
  text-align: center;
}
.pricing .pricing-block-content .main__text {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #3D2E87;
  color: #3D2E87;
  padding-bottom: 34px;
}
.pricing .pricing-block-content span {
  display: none;
}
.pricing .pricing-block-content .title {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40.8px;
  color: #843FD0;
  color: #3D2E87;
}
.pricing .pricing-block-content p {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28.8px;
  color: #3D2E87;
  padding-bottom: 20px;
}
.pricing .pricing-block-content .price p {
  color: #843FD0;
}
.pricing .pricing-block {
  padding: 58px 0;
  margin-bottom: 28px;
}
.pricing .btn {
  min-width: 144px;
  height: 32px;
  color: #fff;
  text-decoration: none;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28.8px;
  background-color: #843fd0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-shadow: 5px 26px 15px rgba(0, 0, 0, 0.14);
  max-width: 221px;
  min-height: 42px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 31.5px;
  margin: 0 auto;
  color: #3D2E87;
  border: 1px solid #3D2E87;
  background-color: #fff;
}
.pricing .pricing-block:hover {
  transform: scale(1.14);
  transition: width 1s, height 1s, transform 1s;
}
.pricing .pricing-block:hover .title {
  color: #843FD0;
}
.pricing .pricing-block:hover .btn {
  background-color: #3D2E87;
  color: #fff;
}
.pricing .pricing-block:hover span {
  display: inline;
}

@media (min-width: 1280px) {
  .pricing {
    max-width: 87.9%;
    margin-top: 60px;
  }
  .pricing .pricing-header {
    text-align: center;
  }
  .pricing .pricing-header .main__text {
    max-width: 539px;
    margin: 0 auto;
    padding-top: 18px;
  }
  .pricing .pricing-blocks {
    max-width: 79.1%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .pricing .pricing-blocks .pricing-block-content {
    max-width: 324px;
    margin: 0;
  }
  .pricing .pricing-blocks .pricing-block-content .main__text {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
  }
  .pricing .pricing-blocks .pricing-block-content .title {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
  }
  .pricing .pricing-blocks .pricing-block-content p {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32.4px;
  }
  .pricing .pricing-blocks > div:nth-of-type(1) {
    order: 1;
  }
  .pricing .pricing-blocks > div:nth-of-type(2) {
    order: 1;
  }
}
.start {
  max-width: 100%;
  padding-bottom: 47px;
  background: linear-gradient(rgb(66, 46, 140), rgb(129, 42, 210));
  color: #fff;
}
.start .start-container {
  max-width: 85%;
  margin: 0 auto;
}
.start .start-container h2 {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  padding: 61px 0 32px;
}
.start .start-container h2 span {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}
.start .start-container p {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 40px;
}
.start .btn {
  min-width: 144px;
  height: 32px;
  color: #fff;
  text-decoration: none;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28.8px;
  background-color: #843fd0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-shadow: 5px 26px 15px rgba(0, 0, 0, 0.14);
  max-width: 186px;
  min-height: 40px;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  color: #3D2E87;
  background-color: #fff;
}

@media (min-width: 1280px) {
  .start {
    max-width: 89.8%;
    margin: 0 auto;
    padding-bottom: 85px;
    border-radius: 18px;
  }
  .start .start-container {
    max-width: 41%;
  }
  .start .start-container h2 {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 51px;
    padding-top: 69px;
  }
  .start .start-container h2 span {
    font-family: "Encode Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
  }
  .start .start-container p {
    max-width: 77.5%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
}
.footer {
  max-width: 89%;
  margin: 44px auto 0;
}
.footer .footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 44px;
}
.footer .footer-header .footer-lang {
  min-width: 107px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-header .footer-lang p {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28.8px;
  color: #3D2E87;
}
.footer .footer-header .footer-lang img {
  width: 15px;
  height: 15px;
}
.footer .footer-apps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.footer .footer-apps img {
  min-width: 124px;
}
.footer .footer-menu {
  display: flex;
  justify-content: space-between;
}
.footer .footer-menu .footer-nav {
  max-width: 27%;
}
.footer .footer-nav-list li:first-of-type {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 31.5px;
  color: #843FD0;
  margin-bottom: 8px;
}
.footer .footer-nav-list li {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28.8px;
  color: #3D2E87;
  padding-bottom: 7px;
}
.footer .footer-copyright {
  padding: 67px 0 57px;
}
.footer .footer-copyright p {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28.8px;
  color: #3D2E87;
}

@media (min-width: 320px) and (max-width: 1279.98px) {
  .desktop {
    display: none;
  }
}
@media (min-width: 1280px) {
  .mobile {
    display: none;
  }
  .footer-container {
    max-width: 89%;
    margin: 102px auto;
    display: flex;
    justify-content: space-between;
  }
  .footer-container .footer-block {
    min-width: 296px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer-container .footer-block .footer-logo {
    padding-bottom: 57px;
  }
  .footer-container .footer-block .footer-apps {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .footer-container .footer-block .footer-apps img {
    max-width: 141px;
    height: 42px;
  }
  .footer-container .footer-block .footer-copyright {
    padding: 57px 0 0;
  }
  .footer-container .footer-menu {
    min-width: 661px;
  }
  .footer-container .footer-menu .footer-nav {
    min-width: 489px;
    display: flex;
    justify-content: space-between;
  }
  .footer-container .footer-menu .footer-lang {
    min-width: 116px;
    display: flex;
    justify-content: space-between;
  }
  .footer-container .footer-menu .footer-lang img {
    width: 15px;
    height: 15px;
  }
}
body {
  font-family: "Encode Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}