@import url(https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap);

@import "./reset.scss";
@import "./mixins.scss";
@import "./variables.scss";

@import "./blocks/header";
@import "./blocks/features"; 
@import "./blocks/trendy";
@import "./blocks/safety";
@import "./blocks/reviews";
@import "./blocks/pricing";
@import "./blocks/start";
@import "./blocks/footer";

body{
    font-family: "Encode Sans", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
